<footer class="footer">
    <a href="/">
        <div class="footer-logo-box">

            <div class="logo-img"></div>
            <div class="company-name-box">
                <p style="color: rgb(0, 0, 0);">Mod Customs</p>
            </div>

        </div>
    </a>

    <div class="footer-boxes">
        <h2 class="footer-boxes-title">Information</h2>
        <ul>
            <a style="text-decoration: none; color: black;" href="/about">
                <li class="footer-boxes-discription">About Us</li>
            </a>
            <a style="text-decoration: none; color: black;" href="#">
                <li class="footer-boxes-discription">Contact Us</li>
            </a>
            <a style="text-decoration: none; color: black;" href="#">
                <li class="footer-boxes-discription">Terms & conditions</li>
            </a>
            <a style="text-decoration: none; color: black;" href="#">
                <li class="footer-boxes-discription">Return/Exchange</li>
            </a>
            <a style="text-decoration: none; color: black;" href="#">
                <li class="footer-boxes-discription">Shipping</li>
            </a>
        </ul>
    </div>
    <div class="footer-boxes">
        <h2 class="footer-boxes-title">About</h2>
        <p class="footer-boxes-discription">We will provide you the best modification for your cars. No need to
            anywhere, we provides home services.</p>
    </div>
    <div class="footer-boxes">
        <h2 class="footer-boxes-title">Support</h2>
        <p class="footer-boxes-discription">
            Mobile: 8696037953
            <hr>
            Email: manishkumarthalor22
            <hr>
            We provide 24*7 customer support
        </p>
    </div>
    <div class="footer-enquiry-box">
        <h2>Join today with your email for updates.</h2>
        <form id="form" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="from_name" value="Enquiry-Mod customs">
            <input type="hidden" name="access_key" value="288476a8-a9ed-4060-a447-097267979dec">
            <input class="footer-input" type="text" name="email" placeholder="Email" required>
            <input class="footer-input-btn" type="submit" value="Submit">
        </form>
    </div>
    <div class="social-box">
        <div class="social-media" style="margin-left: 80px;"><a style="color: black;" class="link-deco" href="https://github.com/mkt0112"><i
                    class="fa-brands fa-github"></i></a></div>
        <div class="social-media"><a style="color: black;" class="link-deco" href=""><i class="fa-brands fa-instagram"></i></a></div>
        <div class="social-media"><a style="color: black;" class="link-deco" href=""><i class="fa-brands fa-twitter"></i></a></div>
        <div class="social-media"><a style="color: black;" class="link-deco" href=""><i class="fa-brands fa-linkedin"></i></a></div>
    </div>
</footer>

<script>
    window.onload = function() {
        // Reset the form fields when the page loads
        document.getElementById("form").reset();
    };
</script>