<% layout("/layouts/boilerplate") %>

    <div class="dashboard-heading" style=" margin-top: 150px;">
        <h1>About Our Services</h1>
    </div>

    <div class="container2">



        <div class="container2-inner">
            <div class="container2-description">
                <div class="description-title">Pick and Drop Service</div>
                <div class="description">We provide pick and drop service of your vehicle. You can easily book your slot
                    and add the item/modificatins in your cart, at the time of you slot our team will pick you car to
                    the nearest garage and modify it. Then the modified car will be delivered to safely.</div>
                <a style="text-decoration: none; color: black;" href="/excellence">
                    <div class="learn-btn">Learn more</div>
                </a>
            </div>
            <div class="container2-line"></div>
            <div class="container2-img">
                <img class="img" src="/css/1.png" alt="img">
            </div>

        </div>
        <div class="container2-inner">
            <div class="container2-img">
                <img class="img" src="/css/3.png" alt="img">
            </div>
            <div class="container2-line"></div>
            <div class="container2-description">
                <div class="description-title">Best Quality</div>
                <div class="description">We have the best Quality for the product or the parts of the vehicles. We have
                    the collection of the best products across the country. Quality of the product is our main motive.
                    And we help you to provide the best deals on the best products.</div>
                <a style="text-decoration: none; color: black;" href="/excellence">
                    <div class="learn-btn">Learn more</div>
                </a>
            </div>
        </div>
        <div class="container2-inner">
            <div class="container2-description">
                <div class="description-title">Experienced Team</div>
                <div class="description">Best products needs best team to assemble them with the expreience. We are
                    having the most skilled team members or workers, who works 24*7 to provide you the great services.
                    All the workers are well trained and skilled, So your dream vehicle is in the safe hands.</div>
                <a style="text-decoration: none; color: black;" href="/excellence">
                    <div class="learn-btn">Learn more</div>
                </a>
            </div>
            <div class="container2-line"></div>
            <div class="container2-img">
                <img class="img" src="/css/2.png" alt="img">
            </div>

        </div>

    </div>